body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url('http://getwallpapers.com/wallpaper/full/b/8/1/489068.jpg');
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="file"],
form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

form input:invalid {
    border-color: rgb(6, 6, 6);
}

form input:focus:invalid {
    box-shadow: 0 0 5px red;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #45a049;
}
textarea{
    width: 95%;
}
form input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

